* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    margin-top: 5vh;
    background-color: #1e146b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    min-height: 2rem;
    z-index: 99;
}

#logo {
    width: 20%;
}

#logo a {
    padding: 0;
    margin: 0;
}

#logo>a>img {
    width: 5vw;
    vertical-align: top;
    border-radius: 30%;
    padding: 10px;
}

.nav-bar {
    width: 100%;
    align-content: flex-end;
}

.nav-links {
    display: flex;
    list-style: none;
    font-weight: bold;
    justify-content: flex-end;
}

nav li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    margin-right: 10vw;
    padding: .5rem 1.9rem;
}

nav li a:hover {
    background-color: white;
    border-radius: 30px;
    color: blue;
}

#active {
    background-color: lightblue;
    border-radius: 30px;
    color: black;
}

header {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 85vh;
    background-image: url('../images/eyes-blackbackground.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    transition: 1.4s ease-in-out;
}

header:hover {
    background-image: url('../images/dark-eyes-blackbackground.png');
}

.heading {
    margin-top: 10rem;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    color: white;
}

.mid-head {
    color: yellow;
    font-size: 6rem;
}

.bot-head {
    color: red;
    font-size: 8rem;
    font-family: 'Creepster', cursive;
}

main {
    background-color: #fff;
}

.top-container-padding {
    padding: 3rem 0;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto 3rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    margin: 4rem auto;
}

.keep {
    color: red;
    width: fit-content;
    font-family: 'Creepster', cursive;
    font-size: 1.2rem;
    margin: 50vh auto 70vh;
}

.parralex-image {
    background-position: center;
    width: 100%;
    height: 55vh;
    background-image: url('../images/thisway-thatway.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#middle-container {
    background-color: lightblue;
}

.middle-container-padding {
    padding: 5rem 0rem;
}

.middle-container-padding>p {
    width: 60%;
    margin: 1rem auto;
    text-align: left;
}

#bottom-container {
    min-height: 600px;
    background-color: #fff;
}

.bottom-container-padding {
    padding: 5rem 0rem;
}

figcaption {
    margin-top: -25px;
    font-weight: bold;
}

.icons {
    width: 60%;
    margin: 0 auto;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-container > figure {
    margin: .75rem;
}

.icon-container>figure>img {
    margin: 4rem auto;
}

.icon-container>figure>img {
    width: 5rem;
    margin: 2rem 4rem;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #logo {
        width: 5%;
    }

    #logo>a>img {
        width: 8vw;
        vertical-align: top;
        border-radius: 45%;
        padding: 5px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        margin: 0 5px;
        padding: .3rem .3rem;
        font-size: .8rem;
    }

    nav li a:hover {
        background-color: white;
        border-radius: 30px;
        color: blue;
    }

    #active {
        padding: .3rem .3rem;
    }

    header {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/eyes-blackbackground.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .heading {
        margin-top: 15%;
    }

    h1 {
        font-size: 1rem;
    }

    .mid-head {
        font-size: 1.4rem;
    }

    .bot-head {
        font-size: 1.8rem;
    }

    .top-container-padding {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .middle-container-padding > p {
        width: 85%;
    }

    .parralex-image {
        height: 25vh;
    }

    .bottom-container-padding {
        padding: 0%;
    }

    .bottom-container-padding > h2 {
        padding: 2rem 0 0;
    }

    .bottom-container-padding>p {
        width: 85%;
    }

    .bottom-flex {
        display: flex;
        flex-direction: column;
    }

    .fun {
        width: 90%;
        margin: 0 auto;
    }

    .fun>p {
        width: 85%;
    }

    .icons {
        width: 100%;
    }

    .icon-container {
        padding-bottom: 2rem;
    }

    .icons-container > figure {
        flex-direction: column;
    }
}