
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    color: white;
}

.mid-head {
    color: yellow;
    font-size: 6rem;
}

.bot-head {
    color: red;
    font-size: 8rem;
    font-family: 'Creepster', cursive;
}

main {
    background-color: #fff;
}

.top-container-padding {
    padding: 3rem 0;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto 3rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    margin: 30vh auto;
}

.keep {
    color: red;
    width: fit-content;
    font-family: 'Creepster', cursive;
    font-size: 1.2rem;
    margin: 50vh auto 70vh;
}

.parralex-image {
    background-position: center;
    width: 100%;
    height: 55vh;
    background-image: url('../images/thisway-thatway.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#middle-container {
    background-color: lightblue;
}

.middle-container-padding {
    padding: 5rem 0rem;
}

.middle-container-padding>p {
    width: 60%;
    margin: 1rem auto;
    text-align: left;
}

#bottom-container {
    min-height: 600px;
    background-color: #fff;
}

.bottom-container-padding {
    padding: 5rem 0rem;
}

figcaption {
    margin-top: -25px;
    font-weight: bold;
}

.icon-container {
    display: flex;
    width: 55%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-container>figure {
    margin: .75rem 0;
}

.icon-container>figure>img {
    width: 4rem;
    margin: 2rem 4rem;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #logo {
        width: 5%;
    }

    #logo>a>img {
        width: 8vw;
        vertical-align: top;
        border-radius: 45%;
        padding: 5px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        margin: 0 5px;
        padding: .3rem .3rem;
        font-size: .8rem;
    }

    nav li a:hover {
        background-color: white;
        border-radius: 30px;
        color: blue;
    }

    #active {
        padding: .3rem .3rem;
    }

    header {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/eyes-blackbackground.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .heading {
        margin-top: 15%;
    }

    h1 {
        font-size: 1rem;
    }

    .mid-head {
        font-size: 1.4rem;
    }

    .bot-head {
        font-size: 1.8rem;
    }

    .top-container-padding {
        padding: 2rem .2rem;
        display: flex;
        flex-direction: column;
    }

    .middle-container-padding>p {
        width: 85%;
    }

    .parralex-image {
        height: 25vh;
    }

    .bottom-container-padding {
        padding: 0%;
    }

    .bottom-container-padding>h2 {
        padding: 2rem 0 0;
    }

    .bottom-container-padding>p {
        width: 85%;
    }

    .icons {
        width: 100%;
    }

    .icon-container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }

    .icon-container>figure>img {
        width: 3rem;
        margin: 2rem 3.5rem;
        flex-wrap: wrap;
    }
}