* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #333939;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    margin-top: 5vh;
    background-color: #1e146b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    min-height: 2rem;
    z-index: 99;
}

#logo {
    width: 20%;
}

#logo a {
    padding: 0;
    margin: 0;
}

#logo>a>img {
    width: 5vw;
    vertical-align: top;
    border-radius: 30%;
    padding: 10px;
}

.nav-bar {
    width: 100%;
    align-content: flex-end;
}

.nav-links {
    display: flex;
    list-style: none;
    font-weight: bold;
    justify-content: flex-end;
}

nav li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    margin-right: 10vw;
    padding: .5rem 1.9rem;
}

nav li a:hover {
    background-color: white;
    border-radius: 30px;
    color: blue;
}

#active {
    background-color: lightblue;
    border-radius: 30px;
    color: black;
}

header {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 85vh;
    background-image: url('../images/bridge.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.heading {
    margin-top: 30vh;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    color: lightblue;
    background-color: rgba(0, 0, 0, 0.028);
    text-shadow: 2px 2px darkred;
}

main {
    background-color: #fff;
}

.heading-left {
    width: 100%;
}

h2 {
    font-size: 3rem;
    padding-top: 1rem;
}

.sub-heading>p {
    width: 25%;
    margin: 0 auto 3rem;
}

.do {
    font-family: 'league spartan', sans-serif;
    font-size: 1.3rem;
}

.flex {
    display: flex;
}

form {
    border: thin solid black;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

form>h3 {
    width: fit-content;
    margin: 0 auto;
}

.form-input {
    width: 80%;
    margin: 1rem auto 2rem;
    border: thin solid black;
    background-color: lightblue;
    padding-top: .8rem;
    padding-bottom: 2rem;
}

.flex>img {
    width: 50%;
}

input {
    padding: 6px;
    font-size: .8rem;
    border-radius: 5px;
    text-align: left;
}

input:focus {
    box-shadow: 0 0 10px #FB8604;
}

label {
    width: 7rem;
    display: inline-block;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
}

.names {
    display: flex;
    justify-content: center;
}

.names>div {
    margin: 1rem;
}

input[type="radio"] {
    margin: auto;
}

.radio-quest label {
    text-align: left;
    width: 120px;
    margin: 1px auto;
}


.text>.message {
    margin: 0 30% 2% 0%;
}

textarea {
    width: 40%;
    font-size: .9rem;
    text-align: left;
}

.text {
    margin: 1rem 0rem .5rem;
}

.star {
    color: darkred;
}

.star-req {
    color: darkred;
    text-align: right;
    margin-right: 25%;
    margin-bottom: .4rem;
}

.btn {
    width: 8rem;
    margin: 0 .8rem;
    padding: .5rem .8rem;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

#reset {
    background-color: black;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
}

#reset:hover {
    background-color: rgb(112, 8, 8);
    letter-spacing: 2px;
    transition: .5s;
    transform: scale(1.05);
}

#submit {
    background-color: darkgreen;
    color: #fff;
}

#submit:hover {
    background-color: rgb(12, 10, 109);
    letter-spacing: 2px;
    transition: .5s;
    transform: scale(1.05);
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #logo {
        width: 5%;
    }

    #logo>a>img {
        width: 8vw;
        vertical-align: top;
        border-radius: 45%;
        padding: 5px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        margin: 0 5px;
        padding: .3rem .3rem;
        font-size: .8rem;
    }

    nav li a:hover {
        background-color: white;
        border-radius: 30px;
        color: blue;
    }

    #active {
        padding: .3rem .3rem;
    }

    header {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/bridge.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .heading {
        margin-top: 4rem;
    }

    h1 {
        font-size: 2rem;
    }

    .sub-heading>p {
        width: 85%;
    }

    .flex {
        flex-direction: column-reverse;
    }

    .flex>img {
        width: 100%;
    }

    form {
        padding: 2rem 0;
    }

    form>h3 {
        width: 85%;
    }

    .form-input {
        width: 95%;
    }

    input {
        padding: 0;
    }

    .names {
        flex-direction: column;
    }

    .names>div {
        margin: 1rem 0;
    }

    .names>div>input {
        width: 40vw;
    }

    .radio-quest>h3 {
        width: fit-content;
        margin: 0 auto;
    }

    .text>.message {
        margin: 0 50% 2% 0%;
    }

    textarea {
        width: 70%;
    }

    .star-req {
        margin-right: 15%;
    }

    #button {
        display: flex;
        flex-direction: column;
    }

    .middle-container-padding {
        padding: 0;
    }
}