
#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8, #myImg9 {
    height: 15rem;
    margin: 1.5rem;
}

#myImg7, #myImg9 {
    width: 30%;
    height: auto;
}

#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8, #myImg9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg5 {
    border: none;
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 2.5rem;
    }

    .tavern {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 600px) {
  
    #myImg, #myImg2, #myImg3, #myImg4 {
        margin: .6rem;
    }

    #myImg8 {
        width: 90%;
    }


}