* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 5.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.006);
    text-shadow: 2px 2px lightblue;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

.contact-body {
    background-color: #333939;
}

.dionysus-body {
    background-color: #E3FDFE;
}

.mode-body {
    background-color: #192221;
}

.west-body {
    background-color: #C2D1EE;
}

.about-body {
    background-color: #465878;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.skip-link {
    position: absolute;
    color: #000;
    background-color: pink;
    text-decoration: none;
    padding: .3rem .8rem;
    border-radius: 15px;
    left: 5%;
    transform: translateY(-350%);
    transition: transform 300ms ease-in;
    z-index: 9999;
}

.skip-link:focus {
    transform: translateY(250%);
}

.navbar {
    display: flex;
    margin-top: 5vh;
    background-color: #1e146b;
    top: 0;
    z-index: 99;
    padding: 0;
}

#logo {
    width: 20%;
}

#logo a {
    padding: 0;
    margin: 0;
}

#logo>a>img {
    width: 5vw;
    vertical-align: top;
    border-radius: 30%;
    padding: 10px;
}

#navbarSupportedContent {
    width: 100%;
}

#navbarSupportedContent a {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

#navbarSupportedContent>ul>li>a:hover {
    text-decoration: underline red 1.5px;
    text-underline-offset: 3px;
}

#navbarSupportedContent #active {
    text-decoration: underline red 1.5px;
    text-underline-offset: 3px;
    cursor: default;
}

.navbar-nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.dropdown-menu {
    margin-top: 0;
    border-radius: 20px;
    background-color: #1e146b;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    border-radius: 5px;
    margin: 0 20px;
    border-width: 0;
    background-color: #2a52c7;
}

/* this is background of menu when scrolling to next dropdown */
.dropdown-menu>li.show>a {
    color: white;
    background-color: purple;
}

#hero {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 86vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.contact-hero {
    background-image: url('../images/bridge2.webp');
}

.portfolio-hero {
    background-image: url('../images/coding.webp');
}

.mode-hero {
    background-image: url('../images/mode.webp');
}

.dionysus-hero {
    background-image: url('../images/patio-sea.webp');
}

.west-hero {
    background-image: url('../images/west-building.jpg');
}

.about-hero {
    background-image: url('../images/dennis-grad.webp')
}

.pnwx-hero {
    background-image: url('../images/screen-pnwx.png');
}

.original, .redesign {
    align-self: center;
    margin: 3rem;
}

.original>img, .redesign>img {
    width: 100%;
    display: block;
}

.title {
    align-self: center;
}

.about-eyes-hero {
    background-image: url('../images/dark2-eyes-blackbackground.png');
    transition: .9s ease-in-out;
}

.about-eyes-hero:hover {
    animation: creepy 3.4s;
    animation-iteration-count: infinite;
}

@keyframes creepy {
    0% {
        background-image: url('../images/dark2-eyes-blackbackground.png');
    }


    50% {
        background-image: url('../images/eyes-blackbackground.jpg');
    }

    65% {
        background-image: url('../images/eyes-me.png')
    }

    90% {
        background-image: url('../images/dark2-eyes-blackbackground.png');
    }
}

.heading {
    margin-top: 20vh;
}

#backtothetop-fixed {
    padding: 1.25rem;
    border: 0;
    border-radius: 20px;
    background-color: #1e146bcc;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5vw;
}

#backtothetop-fixed:hover {
    background-color: #1e146b;
    transform: translate(0%, 0%) scale(1.05);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

@media screen and (max-width: 1100px) {
    #logo {
        width: 20%;
        padding: 0;
    }
    
    #logo>a>img {
        width: 7vw;
        vertical-align: top;
        border-radius: 30%;
        padding: 5px;
    }

}

@media (min-width: 600px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
        border-width: 1px;
    }

    .dropdown-menu>li a:hover,
    .dropdown-menu>li.show {
        background-color: purple;
    }

    .dropdown-menu>li.show>a {
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        margin-top: 0vh;
    }

    #logo {
        width: 5%;
        margin-left: 5%;
    }

    #logo>a>img {
        width: 10vw;
        vertical-align: top;
        border-radius: 15px;
        padding: 1px;
    }

    #hamburger {
        background-color: white;
        margin: 8px 15px;
        width: fit-content;
        padding: 4px;
    }

    .dropdown-menu {
        border-radius: 0px;
        background-color: rgba(56, 42, 163, 0.537);
        margin: 0%;
        padding: 0;
    }

    .dropdown-menu .dropdown-toggle::after {
        border-left: 4px solid transparent;
        border-top: 4px solid;
    }

    nav li a {
        text-decoration: none;
        font-size: .8rem;
        border: thin solid black;
    }

    #navbarSupportedContent a:hover {
        color: white;
    }

    .dropdown-menu>li.show>a {
        background-color: transparent;
    }

    .dropdown-menu .dropdown-item {
        background-color: transparent;
    }

    ul li li ul li {
        background-color: #2a52c7;
        border: thin solid black;
    }

    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
    }

    #active {
        text-decoration: underline;
    }