
#myImg, #myImg2, #myImg3, #myImg4, #myImg7, #myImg8 {
    height: 15rem;
    margin: 1.5rem;
}

#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg7, #myImg8, #myImg9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg9 {
    width: 30%;
}

#myImg5 {
    width: 40%;
}

@media screen and (max-width: 900px) {
    #active {
        padding: .3rem .3rem;
    }

    .tavern {
        font-size: 2.5rem;
    }

    section {
        padding-bottom: 1rem;
    }

    .top-container>p {
        width: 85%;
        text-align: left;
    }

    .middle-container {
        padding-bottom: 10vh;
    }

    .middle-flex {
        flex-direction: column;
    }

    .middle-left {
        width: 100%;
        padding: 0;
    }

    .middle-left>p {
        width: 85%;
        margin: 0 auto 1rem;
    }

    .image-container {
        width: 95%;
        margin: 1rem;
    }

    .close {
        right: 5%;
    }

    .bottom-container-flex {
        flex-direction: column-reverse;
    }

    .bottom-container-flex h2 {
        margin-top: 2rem;
    }

    .bottom-left .logo-container {
        flex-direction: column;
    }

    .logo-container {
        justify-content: center;
    }

    .bottom-right {
        padding: 0%;
        width: 100%;
    }

    .bottom-right>h3 {
        margin-bottom: 2rem;
    }

    #myImg, #myImg2, #myImg3, #myImg4, #myImg8, #myImg9 {
        width: 30%;
        margin: 1.5rem;
    }

    #myImg5, #myImg6 {
        width: 70%;
    }

    .modal-content {
        margin: auto;
        display: block;
        height: auto;
        max-width: 30vw;
    }

    .bottom-container>h2 {
        width: 100%;
    }

    .bottom-container>p {
        width: 85%;
        text-align: left;
        margin-bottom: 1rem;
    }

    .logo-container {
        width: 95%;
        margin: 0 auto;
    }

    #myImg9 {
        width: 40%;
    }

    .bottom-right {
        padding: 0%;
    }

    .bottom-right>p {
        width: 85%;
        text-align: left;
        margin: 0rem auto 1rem;
    }

    .finished>p {
        width: 85%;
        text-align: left;
    }

    .more h2 {
        font-size: 1.8rem;
    }

    .quick-links {
        flex-direction: column;
        margin: 2rem auto 0;
        padding-bottom: 1rem;
    }

    .project-box {
        margin: 0 auto;
        width: 50%;
    }
}