
#myImg, #myImg2, #myImg3, #myImg4, #myImg7, #myImg8 {
    height: 15rem;
    margin: 1.5rem;
}

#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg7, #myImg8, #myImg9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg9 {
    width: 30%;
}

#myImg5 {
    width: 40%;
}

@media screen and (max-width: 600px) {
    #myImg, #myImg2, #myImg3, #myImg4, #myImg8, #myImg9 {
        width: 30%;
        margin: 1.5rem;
    }

    #myImg5, #myImg6 {
        width: 70%;
    }

}