* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

h2 {
    font-size: 2.5rem;
    margin: 2rem auto 1rem;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    margin-top: 5vh;
    background-color: #0b0352;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    min-height: 2rem;
    z-index: 99;
}

#logo {
    width: 20%;
}


#logo a {
    padding: 0;
    margin: 0;
}

#logo>a>img {
    width: 5vw;
    vertical-align: top;
    border-radius: 30%;
    padding: 10px;
}

.nav-bar {
    width: 100%;
    align-content: flex-end;
}

.nav-links {
    display: flex;
    list-style: none;
    font-weight: bold;
    justify-content: flex-end;
}

nav li a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    margin-right: 10vw;
    padding: .5rem 1.9rem;

}

nav li a:hover {
    background-color: white;
    border-radius: 30px;
    color: blue;
}

#active {
    background-color: lightblue;
    border-radius: 30px;
    color: black;
}

header {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 80vh;
    background-image: url('../images/coding.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.heading {
    margin-top: 10rem;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    color: lightblue;
    background-color: rgba(0, 0, 0, 0.028);
}

.intro-p {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.dionysus-div {
    display: flex;
    margin: 10rem auto;
    width: 85%;
    align-items: center;
    justify-content: center;
}

.dionysus-left {
    flex-direction: column;
    width: 50vw;
}

.dionysus-left>h3 {
    font-family: 'Comfortaa', cursive;
    letter-spacing: .5px;
    font-size: 2.2rem;
    margin: 0 auto 2rem;
}

.dionysus-left>p {
    width: 50%;
    margin: 2rem auto;
}

.dionysus-right {
    width: 50vw;
}

.dionysus-right>img {
    width: 100%;
    border: thin solid black;
}

.site-button {
    width: 50%;
    padding: .8rem 2.8rem;
    margin: 1rem;
    background-color: #073161;
    color: white;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;
}

.site-button.code {
    background-color: #fff;
    color: black;
    border: thin solid darkred;
}

.btn .site-button:hover {
    background-color: darkred;
    color: #fff;
    transition: all .7s ease;
}

.brewery-div {
    display: flex;
    flex-direction: row-reverse;
    margin: 10rem auto;
    width: 85%;
    align-items: center;
    justify-content: center;
}

.brewery-left {
    width: 50vw;
}

.brewery-left>h3 {
    font-family: 'Comfortaa', cursive;
    letter-spacing: .5px;
    font-size: 2.2rem;
    margin: 0 auto 2rem;
}

.brewery-left>p {
    width: 50%;
    margin: 2rem auto;
}

.brewery-right {
    width: 50vw;
    /* maybe don't need this */
}

.brewery-right>img {
    width: 100%;
    border: thin solid black;
}

#top-div, #bottom-div {
    background-color: lightblue;
    padding: 1vh 0;
}

#middle-div {
    /* background-color: #93958C; */
    padding: 1vh 0;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}


@media screen and (max-width: 900px) {
    #logo>a>img {
        width: 8vw;
        vertical-align: top;
        border-radius: 45%;
        padding: 5px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        margin: 0 10px;
        padding: .5rem 1rem;

    }

    nav li a:hover {
        background-color: white;
        border-radius: 30px;
        color: blue;
    }

    #active {
        padding: 5px 12px;
    }

    header {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 17rem;
        background-image: url('../images/coding.png');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .intro-p {
        width: 90%;
        text-align: left;
    }

    .dionysus-div {
        flex-direction: column;
        margin: 0 auto;
        padding: 3rem 0;
    }

    .dionysus-left {
        width: 100%;
        margin: 0 auto;
    }


    .dionysus-left>p {
        width: 85%;
        text-align: left;
    }

    .dionysus-right {
        width: 90%;
        margin: 2rem auto 1rem;
    }

    .dionysus-right>img {
        margin-top: 2rem;

        width: 100%;
    }

    .site-button {
        width: 50%;
        padding: .8rem .8rem;
        margin: 1rem;
        background-color: #073161;
        color: white;
        font-weight: 300;
        text-decoration: none;
        border-radius: 20px;
    }

    .brewery-div {
        flex-direction: column;
        margin: 0 auto;
        padding: 3rem 0;
    }

    .brewery-left {
        width: 90%;
        margin: 0 auto;
    }

    .brewery-left>p {
        width: 85%;
        text-align: left;
    }

    .brewery-right {
        width: 90%;
        margin: 2rem auto 1rem;
    }

    .brewery-right>img {
        margin-top: 2rem;
        width: 100%;
    }


}