* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    margin-top: 5vh;
    background-color: #1e146b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    min-height: 2rem;
    z-index: 99;
}

#logo {
    width: 20%;
}

#logo a {
    padding: 0;
    margin: 0;
}

#logo>a>img {
    width: 5vw;
    vertical-align: top;
    border-radius: 30%;
    padding: 10px;
}

.nav-bar {
    width: 100%;
    align-content: flex-end;
}

.nav-links {
    display: flex;
    list-style: none;
    font-weight: bold;
    justify-content: flex-end;
}

nav li a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    margin-right: 10vw;
    padding: .5rem 1.9rem;
}

nav li a:hover {
    background-color: white;
    border-radius: 30px;
    color: blue;
}

#active {
    background-color: lightblue;
    border-radius: 30px;
    color: black;
}

header {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 85vh;
    background-image: url('../images/coding.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.heading {
    margin-top: 30vh;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    color: lightblue;
    background-color: rgba(0, 0, 0, 0.028);
    text-shadow: 2px 2px darkred;
}

.subhead {
    background-color: #fff;
    padding-top: 2rem;
}

.subhead>h2 {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 5px #520303;
    font-size: 3.5rem;
    padding: 1rem 0;
    width: fit-content;
    margin: 0 auto;
}

.intro-p {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.dionysus-div {
    display: flex;
    margin: 10rem auto;
    width: 85%;
    align-items: center;
    justify-content: center;
}

.dionysus-left {
    flex-direction: column;
    width: 50vw;
}

.dionysus-left>h3 {
    font-family: 'Comfortaa', cursive;
    letter-spacing: .5px;
    font-size: 2.2rem;
    margin: 0 auto 2rem;
}

.dionysus-left>p {
    width: 50%;
    margin: 2rem auto;
}

.dionysus-right {
    width: 50vw;
}

.dionysus-right>img {
    width: 100%;
    border: thin solid black;
}

.live-button {
    width: fit-content;
    padding: .8rem 2.5rem;
    margin: 1rem;
    background-color: #073161;
    color: white;
    border: thin solid #073161;
    box-shadow: 3px 3px rgb(117, 117, 117);
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;
    transition: all .7s ease-in-out;
}

.project-button {
    width: fit-content;
    padding: .8rem 2.8rem;
    margin: 1rem;
    background-color: #fff;
    color: black;
    border: thin solid darkred;
    box-shadow: 3px 3px rgb(117, 117, 117);
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;
    transition: all .7s ease-in-out;
}

.btn {
    margin: 1rem auto;
}

.btn2 {
    margin-top: 3.5rem;
}

.live-button:hover {
    background-color: #fff;
    color: darkblue;
    box-shadow: none;
}

.project-button:hover {
    background-color: darkred;
    color: #fff;
    box-shadow: none;
}

.github-button {
    width: fit-content;
    padding: .8rem 2.8rem;
    margin: 1rem;
    background-color: #060606;
    color: white;
    border: thin solid darkred;
    box-shadow: 3px 3px rgb(117, 117, 117);
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;
    transition: all .7s ease;
}

.github-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: none;
}

.brewery-div {
    display: flex;
    flex-direction: row-reverse;
    margin: 10rem auto;
    width: 85%;
    align-items: center;
    justify-content: center;
}

.brewery-left {
    width: 50vw;
}

.brewery-left>h3 {
    font-family: 'Comfortaa', cursive;
    letter-spacing: .5px;
    font-size: 2.2rem;
    margin: 0 auto 2rem;
}

.brewery-left>p {
    width: 50%;
    margin: 2rem auto;
}

.brewery-right {
    width: 50vw;
    /* maybe don't need this */
}

.brewery-right>img {
    width: 100%;
    border: thin solid black;
}

#top-div, #bottom-div {
    background-color: lightblue;
    padding: 1vh 0;
}

#middle-div {
    background-color: #fff;
    padding: 1vh 0;
}

.parralex-image {
    background-position: center;
    width: 100%;
    height: 55vh;
    background-image: url('../images/waves.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.parralex-image>h2 {
    font-size: 4rem;
    color: white;
    text-shadow: 3px 3px red;
    position: relative;
    top: 25vh;
}

.coming-soon {
    background-color: #fff;
    padding: 2rem;
}

.coming-soon>h2 {
    font-size: 2.5rem;
    width: fit-content;
    margin: 0 auto 1rem;
}

.coming-soon>p {
    width: 50%;
    margin: 0 auto 2rem;
}

.soon-image>img {
    width: 50%;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #logo {
        width: 5%;
    }

    #logo>a>img {
        width: 8vw;
        vertical-align: top;
        border-radius: 45%;
        padding: 5px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        margin: 0 5px;
        padding: .3rem .3rem;
        font-size: .8rem;
    }

    nav li a:hover {
        background-color: white;
        border-radius: 30px;
        color: blue;
    }

    #active {
        padding: .3rem .3rem;
    }

    header {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/coding.png');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .heading {
        margin-top: 4rem;
    }

    h1 {
        font-size: 2rem;
    }

    .intro-p {
        width: 85%;
        text-align: left;
    }

    .dionysus-div {
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 3rem 0;
    }

    .dionysus-left {
        width: 100%;
        margin: 0 auto;
    }

    .dionysus-left>p {
        width: 85%;
        text-align: left;
    }

    .dionysus-right {
        width: 90%;
        margin: 2rem auto 1rem;
    }

    .dionysus-right>img {
        margin-top: 2rem;

        width: 100%;
    }

    .site-button {
        margin: 1rem;
        background-color: #073161;
        color: white;
        text-decoration: none;
        border-radius: 20px;
    }

    .btn {
        font-size: .9rem;
    }

    .btn2 {
        font-size: .9rem;
    }

    .live-button {
        width: fit-content;
    }

    .project-button {
        width: fit-content;
    }

    .github-button {
        width: fit-content;
    }

    .brewery-div {
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 3rem 0;
    }

    .brewery-left {
        width: 100%;
        margin: 0 auto;
    }

    .brewery-left>p {
        width: 85%;
        text-align: left;
    }

    .brewery-right {
        width: 90%;
        margin: 2rem auto 1rem;
    }

    .brewery-right>img {
        margin-top: 2rem;
        width: 100%;
    }

    .btn {
        display: flex;
        flex-direction: column;
        margin-bottom: 0%;
    }

    .btn>a {
        margin: 1rem auto;
    }

    .btn2 {
        display: flex;
        margin-top: 0;
        margin-bottom: 0%;
    }

    .btn2>a {
        margin: 1rem auto;
    }

    .parralex-image {
        background-position: center;
        width: 100%;
        height: 30vh;
        background-image: url('../images/waves.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
    }

    .parralex-image>h2 {
        font-size: 3rem;
        color: white;
        text-shadow: 3px 3px red;
        position: relative;
        top: 12vh;
    }

    .coming-soon>p {
        width: 85%;
        text-align: left;
        margin: 0 auto 2rem;
    }

    .soon-image>img {
        width: 80%;
    }
}