@media screen and (max-width: 1100px) {
    .header-left h1 {
        font-size: 3rem;
    }

    .home-hero {
        padding: 1rem;
    }

    .header-left p {
        width: 60%;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .header-buttons a {
        color: black;
        text-decoration: none;
        padding: .5rem 2rem;
        border-radius: 10px;
        margin: 10px;
        transition: none;
    }

    .header-buttons a:hover {
        background-color: lightblue;
        color: black;
        box-shadow: 2px 2px darkred;
    }

    .read-more:hover {
        background-color: lightblue;
        color: black;
        box-shadow: 5px 5px 10px rgb(120, 120, 120);
    }

    .header-left .icon-link {
        width: 85%;
    }

    .icon-link>div>a>img {
        transition: none;
    }

    .icon-link>div>a>img:hover {
        transform: none;
    }

    .top-container-padding {
        padding: 3rem 1rem;
    }

    .intro-p-home {
        width: 85%;
        margin: 0rem auto 1rem;
        text-align: left;
    }

    .middle-container-padding {
        padding: 2rem;
    }

    .icon-container {
        width: 90%;
    }

    .icon-container>img {
        width: 40px;
    }

    .hr {
        width: 10vw;
        margin: 2rem auto;
        color: black;
        background-color: rgba(0, 0, 0, 0);
    }

}

@media screen and (max-width: 576px) {
    /* .moustache2 {
        width: 50%;
        margin: 0 auto;
    }

    .moustache {
        display: inline;
        width: 100%;
        margin: 3rem auto;
        border-radius: 50%;
    } */

    .home-hero {
        display: flex;
        flex-direction: column-reverse;
        padding: 0rem;
    }

    .header-left {
        padding: 0 0 3rem;
    }

    .header-left h1 {
        font-size: 3.5rem;
        margin-top: 1rem;
    }

    .header-left>p {
        width: 80%;
        text-align: left;
    }

    .header-buttons {
        width: 50%;
    }

    .header-buttons {
        display: flex;
        flex-direction: column;
    }

    .icon-link {
        width: 60%;
    }

    .header-right {
        width: 100%;
    }

    .my-image {
        width: auto;
        height: 50vh;
    }

    .top-container-home {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .top-container-left {
        margin-bottom: 2rem;
    }

    .top-container-left>figure>img {
        width: 60%;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .about-images {
        width: 85%;
        margin: 0 auto;
    }

    #backtothetop-fixed {
        margin-right: 5vw;
    }

    .middle-container-padding {
        padding: 0;
        padding-bottom: 3rem;
    }

    .middle-container-padding>p {
        width: 85%;
    }

    .icon-container {
        display: flex;
        border: thin solid black;
        justify-content: center;
        margin: .5rem auto;
        width: 85%;
        flex-wrap: wrap;
    }

    .icon-container>img {
        width: 40px;
    }

    .bottom-container-padding-home>p {
        width: 85%;
    }
}