* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

.skip-link {
    position: absolute;
    color: #000;
    background-color: pink;
    text-decoration: none;
    padding: .3rem .8rem;
    border-radius: 15px;
    left: 5%;
    transform: translateY(-300%);
    transition: transform 300ms ease-in;
    z-index: 9999;
}

.skip-link:focus {
    transform: translateY(250%);
}

.navbar {
    display: flex;
    margin-top: 5vh;
    background-color: #1e146b;
    top: 0;
    z-index: 99;
    padding: 0;
}

#logo {
    width: 20%;
}

#logo a {
    padding: 0;
    margin: 0;
}

#logo>a>img {
    width: 5vw;
    vertical-align: top;
    border-radius: 30%;
    padding: 10px;
}

#navbarSupportedContent {
    width: 100%;
}

#navbarSupportedContent a {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

#navbarSupportedContent>ul>li>a:hover {
    text-decoration: underline red 2px;
    text-underline-offset: 3px;
}

#navbarSupportedContent #active {
    text-decoration: underline red 2px;
    text-underline-offset: 3px;
    cursor: default;
    font-weight: bold;
}

#navbarSupportedContent #active:hover {
    color: white;
}

.navbar-nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.dropdown-menu {
    margin-top: 0;
    border-radius: 20px;
    background-color: #1e146b;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin: 0 20px;
    border-width: 0;
}

.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.hidden {
    color: yellow;
}

/* this is background of menu when scrolling to next dropdown */
.dropdown-menu>li.show>a {
    color: white;
    background-color: purple;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
        border-width: 1px;
    }

    .dropdown-menu>li a:hover,
    .dropdown-menu>li.show {
        background-color: purple;
    }

    .dropdown-menu>li.show>a {
        color: white;
    }
}

#hero-image {
    background-color: rgb(8, 8, 8);
}

header {
    display: flex;
    padding: 5rem;
    min-height: 85vh;
}

.header-left {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

h1 {
    color: lightblue;
    font-family: 'Comfortaa', cursive;
    font-size: 5.5rem;
    margin: 5rem auto 2rem;
}

.header-left>p {
    width: 50%;
    margin: 0 auto;
    color: #fff;
    text-align: justify;
}

.button {
    margin: 2rem auto;
}

.button a {
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: .5rem 3rem;
    border-radius: 10px;
    margin: 10px;
    transition: all .5s ease-in;
}

.button a:hover {
    background-color: #1e146b;
    color: #fff;
}

.icon-link {
    display: flex;
    width: 50%;
    margin: 1rem auto;
}

.icon-link>div>a>img {
    width: 30%;
    vertical-align: top;
    transition: .9s ease-in-out;
}

.icon-link>div>a>img:hover {
    transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg) scale(2.9);
}

.moustache {
    display: none;
}

.header-right {
    background-size: 100%;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/round-cartoon.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    transition: 1s ease-in-out;
    transform: scale(.8);
}

.header-right:hover {
    transform: rotateZ(10800deg) scale(.85);
    background-image: url('../images/round-moustache.png');
}

h2 {
    font-size: 2.5rem;
    margin: 0 auto 1rem;
    width: fit-content;
}

#top-container {
    background-color: #fff;
}

.orleans {
    transition: .1s ease-in;
}

.orleans:hover {
    transform: rotateZ(5deg);
    box-shadow: 8px 8px 10px rgb(120, 120, 120);
}

.top-container-padding {
    padding: 5rem;
    display: flex;
    flex-direction: row;
}

.top-container-padding p {
    width: 60%;
    margin: 0 auto 1rem;
    text-align: left;
}

.top-container-left {
    width: 100%;
}

.top-container-left>figure>img {
    width: 40%;
    margin: 0 auto .5rem;
}

figcaption {
    font-size: .9rem;
    font-style: italic;
    padding-bottom: 1rem;
}

small {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.top-container-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-images {
    margin-top: 2rem;
}

.read-more {
    margin: 0% auto;
    width: fit-content;
    padding: .5rem .8rem;
    background-color: #073161;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 10px rgb(120, 120, 120);
}

.read-more:hover {
    background-color: lightblue;
    transition: .5s;
    color: black;
    box-shadow: none;
}

.about-images {
    margin-top: 2rem;
}

#backtothetop-fixed {
    padding: 1.25rem;
    border: 0;
    border-radius: 20px;
    background-color: #1e146bb4;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5vw;
}

#backtothetop-fixed:hover {
    background-color: #1e146b;
    transform: translate(0%, 0%) scale(1.02);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.hr {
    border-style: none;
    border-top-style: dotted;
    border-width: .5rem;
    width: 10vw;
    margin: 4rem auto 0;
    padding-bottom: 2rem;
}

#middle-container {
    background-color: #fff;
}

.middle-container-padding {
    padding: 5rem;
}

.middle-container-padding>p {
    margin: 0 auto 1rem;
    width: 50%;
}

.icon-container {
    display: flex;
    border: thin solid black;
    justify-content: center;
    margin: .5rem auto;
    width: 60%;
    flex-wrap: wrap;
}

.icon-container>img {
    width: 70px;
    margin: 20px;
}

.icon-container>img:hover {
    transform: scale(1.1);
}

.parralex-image {
    background-position: center;
    width: 100%;
    height: 20vh;
    background-image: url('../images/code.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#bottom-container {
    min-height: 600px;
    background-color: lightblue;
}

.bottom-container-padding {
    padding: 2rem 0rem 5rem;
}

.bottom-container-padding>p {
    width: 30%;
    margin: 0 auto 3rem;
    text-align: left;
}

#project-list-flex {
    display: flex;
    width: 90%;
    gap: 2rem;
    margin: 2rem auto;
}

#project-list-flex>* {
    flex: 1;
}

.project-box {
    border: thin solid black;
    background-color: #fff;
    position: relative;
    overflow: auto;
}

.project-box>img {
    margin: 2rem auto 1rem;
    width: 90%;
}

.project-box>img:hover {
    transform: scale(1.05);
    object-fit: cover;
    transition: all 0.5s ease-in;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    opacity: 0.8;
}

.project-button {
    margin: 0% auto;
    width: fit-content;
    padding: .5rem .8rem;
    border-radius: 10px;
    background-color: #073161;
    color: white;
    font-weight: 300;
    transition: .7s;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgb(120, 120, 120);
}

.project-button:hover {
    background-color: lightblue;
    color: black;
    box-shadow: none;
}

.project-box>p {
    margin: auto;
    padding: 1rem;
    text-align: left;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #logo {
        width: 5%;
        margin-left: 5%;
    }

    #logo>a>img {
        width: 10vw;
        vertical-align: top;
        border-radius: 15px;
        padding: 1px;
    }

    #hamburger {
        background-color: white;
        margin: 8px 15px;
        width: fit-content;
        padding: 4px;
    }

    .dropdown-menu {
        border-radius: 0px;
        background-color: rgba(56, 42, 163, 0.537);
        margin: 0%;
        padding: 0;
    }

    .dropdown-menu .dropdown-toggle::after {
        border-left: 4px solid transparent;
        border-top: 4px solid;
    }

    /*     
    .animated-icon1 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon1 span:nth-child(2) {
        top: 10px;
    }

    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }

    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    } */

    nav li a {
        text-decoration: none;
        font-size: .8rem;
        border: thin solid black;
    }

    #navbarSupportedContent a:hover {
        color: white;
    }

    .dropdown-menu>li.show>a {
        background-color: transparent;
    }

    .dropdown-menu .dropdown-item {
        background-color: transparent;
    }

    ul li li ul li {
        background-color: #2a52c7;
        border: thin solid black;

    }

    ul li li ul li:active {
        background-color: #2b6b14;
    }

    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
    }

    #active {
        text-decoration: underline;
    }

    .moustache {
        display: inline;
        width: 80%;
        margin: 3rem auto;
        border-radius: 50%;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        padding: 0rem;
        min-height: 80vh;
    }

    .header-left {
        padding: 0rem;
    }

    h1 {
        margin-top: 1rem;
    }

    .header-left>p {
        width: 85%;
        text-align: left;
    }

    .icon-link {
        width: 50%;
    }

    .icon-link>div>a>img {
        transition: none;
    }

    .icon-link>div>a>img:hover {
        transform: none;
    }

    .header-right {
        width: 100%;
    }

    .button {
        display: flex;
        flex-direction: column;
    }

    .top-container-padding {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .top-container-padding p {
        width: 85%;
    }

    .top-container-left {
        margin-bottom: 2rem;
    }

    .top-container-left>figure>img {
        width: 60%;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .middle-container-padding {
        padding: 0;
        padding-bottom: 3rem;
    }

    .middle-container-padding>p {
        width: 85%;
    }

    .icon-container {
        display: flex;
        border: thin solid black;
        justify-content: center;
        margin: .5rem auto;
        width: 90%;
        flex-wrap: wrap;
    }

    .icon-container>img {
        width: 30px;
    }

    .bottom-container-padding>p {
        width: 85%;
    }

    #project-list-flex {
        flex-direction: column;
        width: 90%;
    }
}