

#myImg {
    height: 15rem;
    margin: 1.5rem;
    align-self: center;
}

#myImg2, #myImg3 {
    height: 20rem;
    margin: 1.5rem;
}

#myImg4, #myImg5 {
    height: 10rem;
    margin: 1.5rem;
}

#myImg, #myImg2, #myImg3, #myImg4, #myImg5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}





@media screen and (max-width: 900px) {


    #myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6 {
        margin: 1.5rem;
    }



}