.nav-link:hover {
    text-decoration: underline;
}

#nav {
    background-color: #0d5eaf;
}

#active {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

#hero  h1, h3 ,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#wrapper {
    border: solid black thin;
}

#logo {
    width: 60px;
}

#hero p {
    font-style: italic;
}

figcaption {
    font-style: italic;
    color: black;
    font-weight: bold;
}

#welcome {
    background-color: #0d5eaf;
    text-align: center;
}

#apps-soups-salads {
    background-color: #0d5eaf;
    color: white;
}

.table {
    color: white;
}
.links a {
    text-decoration: none;
}

.links > a:hover {
    text-decoration: underline;
    color: red;
}

.card-text {
    font-style: italic;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#entrees {
    background-color: #0d5eaf;
    color: white;
}

#desserts {
    background-color: #0d5eaf;
    color: white;
}

#icons img {
    height: 1.5rem;
}

#icons img:hover {
    transform: scale(1.2);
}